<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr" lang="fr">
    <head>
        <title> jour 6 </title>
        <meta http-equiv="content-type" content="text/html; charset=UTF_8"/>
        <link rel="stylesheet" media="screen" type="text/css" title="style" href="../static/style.css" \>
        <script src="https://cdn.jsdelivr.net/gh/kitao/pyxel/wasm/pyxel.js"></script>
    </head>
    
    <body>
        <p>il s'agit du célèbre jeu Pac Man, 
            pour gagner il faut ramasser toutes les pieces du labyrinthe, 
            si on touche un fantôme c'est game over.
            les cerises rapportent des points supplémentaires.
            pour bouger il faut rester appuyé sur les touches directionnelles ou les flèches du gamepad.
            il y a un passage de téléportation au bord milieu droit qui va vers le bord milieu gauche, et inversement
        </p>
        <div>
            <pyxel-run root= "/jeux" name="Pac_man/Pac_Man.py" gamepad="enabled"></pyxel-run>
        </div>
    </body>