<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr" lang="fr">
    <head>
        <title> jour 3 </title>
        <meta http-equiv="content-type" content="text/html; charset=UTF_8"/>
        <link rel="stylesheet" media="screen" type="text/css" title="style" href="../static/style.css" \>
        <script src="https://cdn.jsdelivr.net/gh/kitao/pyxel/wasm/pyxel.js"></script>
    </head>
    
    <body>
        <p>c'est un démineur, c'est une grille remplie de bombes, 
            l'objectif étant de découvrir toutes les cases sauf celles ou il y a les bombes,
            si on touche une bombe, c'est game over
            le numéro sur une case indique le nombre de bombes sur les cases qui l'entourent
            pour cliquer c'est clic gauche ou double clic (ou clic sur mobile),
            pour poser un drapeau c'est clic droit (ou appui long sur mobile)
    </p>
        <div class="jeu">
            <pyxel-run root= "/jeux" name="demineur_mob/demineur_mob.py"></pyxel-run>
        </div>
    </body>