<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr" lang="fr">
    <head>
        <title> jour 5 </title>
        <meta http-equiv="content-type" content="text/html; charset=UTF_8"/>
        <link rel="stylesheet" media="screen" type="text/css" title="style" href="../static/style.css" \>
        <script src="https://cdn.jsdelivr.net/gh/kitao/pyxel/wasm/pyxel.js"></script>
    </head>
    
    <body>
        <p>le but est d'éliminer le plus d'ennemis possible
            pour les toucher il faut appuyer sur espace ou taper sur l'écran
            le nombre de coeurs s'affiche en haut a gauche de l'écran,
            quand il n'y en a plus la partie est finie, il n'y a pas de victoire possible, 
            juste un score qui s'affiche a la fin
            pour bouger il faut utilisr les flèches directionnelles ou les flèches du gamepad
        </p>
        <div class="jeu">
            <pyxel-run root= "/jeux" name="ovnis/ovnis.py" gamepad="enabled"></pyxel-run>
        </div>
    </body>