<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr" lang="fr">
    <head>
        <title> jour 7 </title>
        <meta http-equiv="content-type" content="text/html; charset=UTF_8"/>
        <link rel="stylesheet" media="screen" type="text/css" title="style" href="../static/style.css" \>
        <script src="https://cdn.jsdelivr.net/gh/kitao/pyxel/wasm/pyxel.js"></script>
    </head>
    
    <body>
        <p>le but est de passer le plus de murs possibles,
        heurter un mur ou sortir de l'écran = gameover
        la gravité fait constamment chuter le personnage, 
        il faut donc le faire sauter pour le maintenir en l'air
        pour sauter il faut appuyer sur espace ou taper sur l'écran
        
    </p>
        <div>
            <pyxel-run root= "/jeux" name="FlapPY_Goat/FlapPY_Goat.py"></pyxel-run>
        </div>
    </body>